.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.hoge {
  width: 30px;
  height: 30px;
  background: url('./../../assests/images/icons.png') no-repeat;
  background-position: 0;
}

.board {
  display: flex;
  width: 270px;
  height: 270px;
  background-color: grey;
  flex-wrap: wrap;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./../../assests/images/icons.png') no-repeat;
}

.stone {
  width: 30px;
  height: 30px;
  border: outset 5px darkgrey;
  background-color: darkgrey;
}
